<mat-card class="bim-form">
  <div class="bim-full-width">
    <mat-select placeholder="Choose Server" class="bim-select-full-width" (change)="onServerChange($event)" [(ngModel)]="server">
      <mat-option *ngFor="let server of servers" [value]="server.url">
        {{ server.name }}
      </mat-option>
    </mat-select>
  </div>
  <mat-input-container class="bim-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="user.email">
    <mat-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-input-container>
  <mat-input-container class="bim-full-width">
    <input type="password" matInput placeholder="Password" [(ngModel)]="user.password">
  </mat-input-container>
  <button mat-raised-button color="primary" [disabled]="user.email === '' && user.password === ''" (click)="login()">Login</button>
</mat-card>
