<md-list>
  <h3 md-subheader>Transactions</h3>
  <md-list-item class="bim-list-item" *ngFor="let item of items">
    <md-chip-list>
      <md-chip *ngIf="item?.state === 'initial'">{{item?.state}}</md-chip>
      <md-chip *ngIf="item?.state === 'finished'" color="primary" selected="true">{{item?.state}}</md-chip>
      <md-chip *ngIf="item?.state === 'canceled'" color="accent" selected="true">{{item?.state}}</md-chip>
    </md-chip-list>
    <h4 md-line>
      {{item?.guid}}
    </h4>
    <p md-line>
      {{item?.created}}
    </p>
  </md-list-item>
</md-list>
