<mat-list>
  <mat-list-item class="bim-list-item" *ngFor="let item of items">
    <mat-chip-list>
      <mat-chip  [color]="setTagColor(item.state)" [selected]="isTagFinalizeOrCancel(item.state)">{{item?.state}}</mat-chip>
    </mat-chip-list>
    <h4 mat-line>
      {{item?.guid}}
    </h4>
    <p mat-line>
      {{item?.created}}
    </p>
    <mat-icon mat-list-icon [matMenuTriggerFor]="menu" style="float: left">menu</mat-icon>
    <mat-menu #menu="matMenu" xPosition="before">
      <button [disabled]="item.state === 'finished' || item.state === 'canceled'"
              mat-menu-item (click)="onFinalizeTransactionClicked.emit({ guid: item.guid, clear: false, repeat: false })">
        Finalize
      </button>
      <button [disabled]="true"
              mat-menu-item (click)="onFinalizeTransactionClicked.emit({ guid: item.guid, clear: true, repeat: false })">
        Finalize and Clear
      </button>
      <button [disabled]="true"
              mat-menu-item (click)="onFinalizeTransactionClicked.emit({ guid: item.guid, clear: false, repeat: true })">
        Finalize and Repeat
      </button>
      <button [disabled]="item.state === 'finished' || item.state === 'canceled'"
              mat-menu-item (click)="onCancelTransactionClicked.emit(item.guid)">
        Cancel
      </button>
    </mat-menu>
  </mat-list-item>
</mat-list>
