<label for="">Chunks sent: {{progress.sent}} / {{transactionData.chunkNumber}}</label>
<md-progress-bar
  class="bim-progress"
  color="primary"
  mode="determinate"
  value="{{(progress.sent / transactionData.chunkNumber) * 100}}">
</md-progress-bar>

<div class="bim-content-wrapper">
  <md-card class="bim-card left">

    <table class="bim-full-width" cellspacing="0">
      <tr>
        <td>
          <md-select placeholder="Choose Checkout" class="bim-select-full-width" (change)="onCheckoutSelected($event)">
            <md-option *ngFor="let checkout of checkouts" [value]="checkout">
              {{ checkout.name }}
            </md-option>
          </md-select>
        </td>
        <!--<td>-->
          <!--<md-input-container class="bim-full-width">-->
            <!--<input mdInput placeholder="Entity" [(ngModel)]="transactionData.entityGUID">-->
          <!--</md-input-container>-->
        <!--</td>-->
        <!--<td>-->
          <!--<md-input-container class="bim-full-width">-->
            <!--<input mdInput placeholder="Checkout" [(ngModel)]="transactionData.checkoutGUID">-->
          <!--</md-input-container>-->
        <!--</td>-->
      </tr>
      <tr>
        <td>
          <md-slide-toggle [(ngModel)]="fileImport">Generate Transaction</md-slide-toggle>
        </td>
      </tr>
      <tr *ngIf="fileImport">
        <td>
          <md-input-container class="bim-full-width">
            <input type="number" mdInput placeholder="Number of Chunks" [(ngModel)]="transactionData.chunkNumber">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="bim-full-width">
            <input type="number" mdInput placeholder="Number of Items in Chunk" [(ngModel)]="transactionData.chunkSize">
          </md-input-container>
        </td>
      </tr>
      <tr *ngIf="!fileImport" style="margin: 20px 0">
        <td>
          Selected {{chunkFiles.length}} Chunks
        </td>
        <td>
          <div class="bim-file-input">
            <app-file-upload (onFilesUpload)="onFilesUpload($event)"></app-file-upload>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <md-slide-toggle [(ngModel)]="simulateFailure">Simulate Failure</md-slide-toggle>
        </td>
      </tr>
      <tr *ngIf="simulateFailure">
        <td>
          <md-input-container class="bim-full-width">
            <input type="number" mdInput placeholder="Chunk to Fail (1-N)" [(ngModel)]="chunkToFail">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <button *ngIf="fileImport" md-raised-button color="accent" (click)="generateTransaction()">Sync</button>
          <button *ngIf="!fileImport" [disabled]="chunkFiles.length === 0" md-raised-button color="accent" (click)="getChunks()">Sync</button>
        </td>
      </tr>
    </table>
  </md-card>

  <md-card class="bim-card right">
    <div>
      <app-bim-list [items]="transactions"></app-bim-list>
    </div>
  </md-card>
</div>
