:host {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 80vh;
}

.bim-content-wrapper {
  display: flex;
  flex-direction: row;
  height: 80%;

  .bim-card {
    width: 48%;
    height: 100%;
    margin: 1%;
  }
}


.bim-full-width {
  width: 300px;
  margin-right: 30px;
}

.bim-progress {
  margin: 20px 0;
}

.bim-file-input {
  height: 70px;
  display: flex;
  align-items: center;
}
