<label for="">Chunks sent: {{progress.sent}} / {{transactionData.chunkNumber}}</label>
<mat-progress-bar
  class="bim-progress"
  color="primary"
  mode="determinate"
  value="{{(progress.sent / transactionData.chunkNumber) * 100}}">
</mat-progress-bar>

<div class="bim-content-wrapper">
  <mat-card class="bim-card left">

    <mat-tab-group>
      <mat-tab label="Sync">
        <div class="space-arround">
          <table class="bim-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="bim-full-width">
                  <mat-select placeholder="Choose BimModel" (change)="onBimModelSelected($event)">
                    <mat-option *ngFor="let bm of bimModels" [value]="bm">
                      {{ bm.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr class="bim-section">
              <td>
                <mat-slide-toggle disabled="true" [(ngModel)]="fileImport">Generate Transaction</mat-slide-toggle>
              </td>
            </tr>
            <tr *ngIf="fileImport">
              <td>
                <mat-input-container class="bim-full-width">
                  <input type="number" matInput placeholder="Number of Chunks" [(ngModel)]="transactionData.chunkNumber">
                </mat-input-container>
              </td>
              <td>
                <mat-input-container class="bim-full-width">
                  <input type="number" matInput placeholder="Number of Items in Chunk" [(ngModel)]="transactionData.chunkSize">
                </mat-input-container>
              </td>
            </tr>
            <tr *ngIf="!fileImport" style="margin: 20px 0">
              <td>
                Selected {{chunkFiles}} Chunks
              </td>
              <td>
                <div class="bim-section">
                  <app-file-upload (onFilesUpload)="onFilesUpload($event)"></app-file-upload>
                </div>
              </td>
            </tr>
            <tr *ngIf="fileImport" class="bim-section">
              <td>
                <mat-slide-toggle [(ngModel)]="simulateFailure">Simulate Failure</mat-slide-toggle>
              </td>
            </tr>
            <tr *ngIf="simulateFailure">
              <td>
                <mat-input-container class="bim-full-width">
                  <input type="number" matInput placeholder="Chunk to Fail (1-N)" [(ngModel)]="chunkToFail">
                </mat-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <button *ngIf="fileImport" [disabled]="selectedBimModel.bimmodelGUID === '' || selectedBimModel.projectGUID === '' || isInProcess" mat-raised-button color="accent" (click)="generateTransaction()">Sync</button>
                <button *ngIf="!fileImport" [disabled]="chunkFiles.length === 0 || isInProcess" mat-raised-button color="accent" (click)="generateTransactionFromFiles()">Sync</button>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Script">
        <div class="space-arround">
          <app-file-upload (onFilesUpload)="onScriptUploaded($event)"></app-file-upload>
        </div>
      </mat-tab>
    </mat-tab-group>

  </mat-card>

  <mat-card class="bim-card right">
    <div>
      <app-stream (onStreamStarted)="startJob($event)" (onStreamFinished)="finishJob($event)"></app-stream>
      <app-bim-list [items]="transactions"
                    (onFinalizeTransactionClicked)="finalizeTransaction($event)"
                    (onCancelTransactionClicked)="cancelTransaction($event)">
      </app-bim-list>
    </div>
  </mat-card>
</div>
